<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BrtaHome</title>
    <link rel="stylesheet" href="template.css" />
  </head>
  <body>
    <header>
      <h1>BRTA Service Portal</h1>
    </header>
    <div id="brtalogo"><img src="../asset/brta.png" /></div>

    <div class="navbar">

      <div id="profile">
        <img src="../asset/profile.png" />
      </div>
      <div id="home"><a href="../view/home.php"><img src="../asset/home.png" /></a></div>
      <div id="logout">
        <a href="../model/logout.php"><img src="../asset/logout.png" /></a>
      <div id="fare"><a href="fare.php" style="text-decoration: none;">Fare Info</a></div>
      </div>
    </div>

    <div class="buttons">
      <a href="licenseapplication.php"><button>License Applications</button></a>
      <button>Vehcile Registration</button>
      <button>Apply Road Permit</button>
      <button>Apply Tax Token</button>
      <a href="../view/ownershiptransfer.php"><button>Ownership Transfer</button></a></button>
      <button>Fees</button>
      
      <a href="../view/feedback.php"><button>Complain/Feedback</button></a></button>
      <a href="../view/userfine.php"><button>PayFine</button></a></button>
    </div>
    <footer>&copy; 2024 BRTA. All rights reserved.</footer>
  </body>
</html>